#layout-topbar{
    background-color: #20272a;
    display: block;
    padding: 0;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    font-weight: 400;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.app-header .header-item {

}
.app-header .app-title:visited {
    color: white;
}

.app-header .app-title {
    color: white;
    font-size:30px;
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);

}
.app-header .nav-item {
    position: absolute;
    right: 40px;
    top: 20px;
}

.app-header .nav-item a{
    text-decoration:none;
    margin: 10px;
    color: white;
}

.app-header .nav-item a:visited {
    color: white;
}