.form-style-7{
    max-width:600px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid #03c4e8;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form-style-7 li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 40px;
    padding: 2px 5px 2px 5px;
    color: #03c4e8;
    font-size: 20px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus
{
}

.form-style-7 .calendar{
     display: block;
     padding: 3px 3px 3px 0px;
     margin: 0 -9px -9px -9px;
     text-align: center;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 17px;
 }

.form-style-7 .types{
    display: block;
    /*padding: 3px;*/
    /*margin: 0 -9px -9px -9px;*/
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border: #03c4e8 !important;
}
.form-style-7 .span{
    background: #03c4e8;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.form-style-7 textarea{
    resize:none;
}


.submit{
    font-size: 20px;
    background: #03c4e8 !important;
    border: #03c4e8 !important;
}