.story-list-page .story-table table {
    text-align: center;
}

.story-list-page table td {
    vertical-align: middle !important;
}

.story-list-page .story-table {
    padding-bottom: 1em;
}

.story-list-page .date-picker-container {
    margin-bottom:  2em;
}

.story-list-page .clear-date-btn {
    margin-left: 2em;
}
.story-list-page .date-picker {
    vertical-align: middle;
}